
  header {
    background-color: #01aa0a;
    height: 90px;
    display: flex;
    justify-content: space-between; /* Espaça os itens no cabeçalho */
    align-items: center;
    color: rgb(255, 253, 253);
    padding: 0px 40px; /* Espaçamento lateral menor no header */
    box-sizing: border-box;
  }
  logo {
    width: 200;
  }
  html { 
    background-color: #ffffff; 
  } 
  body {
      min-height: 100vh;
      max-width: 75%;
      background-color: #ffffff; 
      margin: 0 auto;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Torna os itens flexíveis e alinhados */
  }

  header li {
    margin-left: 10px; /* Espaço entre os itens */
  }

  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px; /* Espaçamento interno */
    text-decoration: none;
  }

  header li a:hover {
    background-color: #2779a7;
    border-radius: 4px; /* Cantos arredondados */
  }

  .active {
    background-color: #04AA6D; /* cor ao passar com o rato */
    border-radius: 4px;
  }
h2 {
  font-size: 60px;
  font-size: 'bold';
  text-transform: uppercase;
}
p {
  font-size: 23px;

}
